body > header {

}

main {
    background: #ffffff;
    padding: 0 2.87rem;

}

.page-title {
    font-size: 2.5rem;
    padding: 3.12rem 0;
    text-align: center;
}

.content {
    display: flex;
}

.content section {
    flex: 1;

}

/*.content aside {*/
/*    background: rebeccapurple;*/
/*    min-width: 15.62rem;*/
/*    color: #dbdbdb;*/

/*}*/

.qty-sub-button {
    width: 1.8rem;
    color: #ff0101;
    background: rgba(161, 161, 161, 0.55);
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.qty-sum-button {
    width: 1.8rem;
    color: #ff0101;
    background: rgba(161, 161, 161, 0.55);
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.remove-button {
    width: 1.8rem;
    color: #ff0101;
    background: rgba(161, 161, 161, 0.55);
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {

}

th {
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #666;
}

tr {
    text-align: left;
    border-bottom: 3px solid #cccccc;
}

tbody {


}

td {
    padding: 2rem 0;
}

.product {
    display: flex;
    align-items: center;
}

.product-image {
    /*max-width: 10rem;*/
    width: 150px;
    border-radius: 0.5rem;
}

.product-info {
    margin-left: 1.25rem;

}

.info-title {
    font-size: 20px;

}

.info-category {
    color: #666;

}

aside {
    width: 21.8rem;
    margin-top: 2.5rem;


}

.box-header {
    padding: 0.9rem 1.25rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;

}

.box {
    margin-bottom: 0.9rem;
    border: 1px solid #ccc;
    background: #ddd;


}

.box-info {
    padding: 1.25rem;
    margin-top: 10px;

}

.box-info > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-footer {
    padding: 1.25rem;
    background: #ccc;
    font-size: 1.25rem;

}

.box-button {
    background: #4a7e2c;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    width: 100%;
    border: 0;
    padding: 0.9rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;

}

