body{

}

main{
    background: #c4c4c4;
    padding: 0 2.87rem;

}

.page-title{
    font-size: 2.5rem;
    padding: 3.12rem 0;
    text-align: center;
}

.content{
    display: flex;
}

.content section {
    flex: 1;

}

.content aside {
    background: rebeccapurple;
    min-width: 15.62rem;

}

